<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload File app</title>
    <style>
        .container {
            margin: 20px;
            background: rgba(0, 10, 2, 0.1);
            border: 1px solid black; 
            padding: 20px;
            height: 200px;
        }

        .text{
         color: red; 
         text-align: center;
         text-transform: capitalize;
        }

        input{
            width: 30%;
        }
        input[name='file']{
            border-radius: 20px;
        }

    </style>
</head>
<body>
    <div class="container">
            <form method="POST" class="post-form" enctype="multipart/form-data">  
                {% csrf_token %}  
                {{ form.as_p }}  
            <button type="submit" name="file">Upload to server</button>  
    </div>

</form> 
</body>
</html> 
